<h1>Here are the specific Post for Specific USER</h1>

<div class="posts_container">
  <h1>Post #<%= "#{@post.id}" %></h1>
  <p><%= @post.text %></p>

  <%= form_with model: Like, url: post_likes_path(@post.user, @post), method: :post do |form| %>
    <% form.submit "Like" %>
  <% end %>

  <div class="cl_container">
    <p>Comments: <%= @post.comments_counter %></p>
    <p>Likes: <%= @post.likes_counter %></p>
  </div>
</div>
<div class="comments">
  <% @post.comments.each_with_index do |comment, index| %>
    <p>By<%= comment.author.name%>:-- <%= comment.text %></p>
  <% end %>
</div>

<div>
    <h3>Add a comment</h3>
    <%= render partial: 'partials/_new' %>
</div>





